
.Fcontainer{
    width: 90%;
    align-items: center;
}
.FDeals {
  font-size: 30px;
  text-align: center;
  background: linear-gradient(89.2deg, rgb(191, 241, 236) 22.3%, rgb(109, 192, 236) 84.1%);
  height: 50px;
  padding-top: 5px;
  margin-bottom: 10px;
}
.flash-deals-container {
    background: linear-gradient(95.2deg, rgb(173, 252, 234) 26.8%, rgb(192, 229, 246) 64%); 
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.flash-deal {
  flex: 0 0 calc(10% - 10px);
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.flash-deal-image {
  text-align: center;
}

.flash-deal-image img {
  max-width: 100%;
  height: auto;
}

.flash-deal-info {
  text-align: center;
}

.flash-deal-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.flash-deal-price {
  font-size: 12px;
  margin-bottom: 5px;
  color: blue;
}
.flash-deal-discounted-price {
  font-size: 10px;
  color: gray;
  text-decoration: line-through;
}
.flash-deal-timer {
  font-size: 10px;
  color: #666;
}
