body {
    background-color: black;
    color: white;
}
/*Navigation Bar*/
.topnav {
    overflow: hidden;
    background-color: #333333cb;
    border-radius: 8px;
    text-align: right;
}
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #4adede;
    color: black;
}
* {
    box-sizing: border-box;
}